<header>
<div class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Mon Api de conversion d'argent
          </a>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link active" (click)="showHidPageMain()"  >Acceuil</a>
            </li>
            <li class="nav-item">
                <a href="#" class=" inline-block nav-link active" (click)="showConverPanel()">Conversion Argent</a>
            </li>

        </ul>
    </div>
</div>
</header>
