<div class="container">
  <app-header (onClickedButton)="showImageHome()" (showPanel)="showMainPage()" ></app-header>

<!-- On utilise (onClickedButton)="showImageHome()" pour la redirection l'alternative d'un component router -->

  <app-convertisseur-devise *ngIf="etat" ></app-convertisseur-devise>
</div>

