<form class="add-form">
  <div class="form-control">
    <div class="white-space: nowrap">
      <label for="amountToChange">Monnaie de base : </label>
        <select (change)="getCurrencyFrom($event)" >
        <option>Selectionner la Monnaie</option>
        <option *ngFor="let element of post">{{element}}</option>
        </select>
    </div>

    <input class="inputargent" [(ngModel)]="typedAmount"  type="number" name="text" id="amountToChange"
           placeholder="Montant"/>
  </div>

  <div class="form-control">
    <div class="choose">
      <div class="white-space: nowrap">
        <label for="amountToChange">Monnaie voulue : </label>
        <select (change)="getCurrencyTo($event)">
          <option>Selectionner la Monnaie</option>
          <option *ngFor="let element of post">{{element}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2">
    <button class="add"  [disabled]="statusButton()" (click)="showText()">Cliquer pour la conversion</button>
  </div>
  <p>{{result}}</p>
</form>

