label{
  margin-right: 20px;
  text-align: center;
}
input::-webkit-inner-spin-button{
  text-align: center;
  -webkit-appearance: none;
}
.add-form{
  margin-top: 80px;
  text-align: center;
}
.form-control{
  margin-top:30px;
  text-align: center;
  margin-bottom: 30px;
}
.form-control input{
  margin:20px 0;
  text-align: center;
  display:block;
}
p{
  margin-top: 35px;
  text-align: center;
  font-size: 2em;
}

.inputargent{
  margin-top: 80px;
  text-align: center;
  display:block;
}

.add{
  box-shadow: 1px 2px 5px #000000;
}
